/*General Style*/
body{
  text-align: center;
}
h1{
  padding: 20px;
}
main{
  padding: 20px;
}

footer{
  height: 80px;
  padding: 20px;
  text-align: center;
  color: white;
  margin: auto;
  background-color: rgb(27, 25, 25);
}
#menu{
  background-color: olive;
  
}

#enlace1, #enlace2, #enlace3, #enlace4{
  font-family: "Poetsen One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 900%;
}

